#gantt {
  height: 700px;
}

/* options */
.options {
  margin-bottom: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.column {
  width: 40%;
  display: inline-block;
  margin: 15px 3%;
  text-align: left;
  vertical-align: top;
}

.option {
  padding: 5px 0;
}

.label,
.value {
  display: inline-block;
  vertical-align: middle;
}

.label {
  width: 180px;
}

.value {
  width: 45%;
}

.custom-task-edit-tooltip {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 12px 12px 12px;
  border-radius: 3px;
}

.custom-task-edit-tooltip::before {
  border-top-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-task-edit-tooltip::after {
  border-bottom-color: white;
}

.custom-tooltip-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 6px;
}

.custom-tooltip-row {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

/* ::ng-deep #projectGantt > dx-gantt > div.dx-gantt-main-wrapper > .dx-gantt-treelist-wrapper > .dx-widget > .dx-treelist-container > .dx-treelist-rowsview> .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content > .dx-treelist-content > .dx-treelist-table > tbody > .dx-row {
  background-color: red!important;
} */

::ng-deep .taskStatus1 {
  background-color: red!important;
}

/* Custom Task Content */
.actual-task {
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  background-color: #92c3f2;
  opacity: 0.5;
  border-radius:3px;
}

.planned-task {
  max-height: 48px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
  background-color: #5C57C9;
}

.planned-task-wrapper {
  padding: 8px;
  color: #fff;
}

  .planned-task-wrapper > * {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
  }


.planned-task-title {
  font-weight: 600;
  font-size: 13px;
}

.planned-task-resource {
  font-size: 12px;
}

.planned-task-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: rgba(0, 0, 0, .5);
  border-radius:0px 0px 0px 3px;
}
