<ng-container *ngIf="(dataLoading$ | async) === false">
  <div class="container-fluid" #ganttElement>
    <!-- Gantt Options -->
    <div class="row mt-3 mb-3">
      <div class="col-12">
        <div class="options">
          <div class="column">
            <div class="caption">Options</div>
            <div class="option">
              <div class="label">Scale Type:</div>
              <div class="value">
                <dx-select-box
                  [items]="[
                    'auto',
                    'minutes',
                    'hours',
                    'sixHours',
                    'days',
                    'weeks',
                    'months',
                    'quarters',
                    'years'
                  ]"
                  [(value)]="scaleType"
                ></dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Title Position:</div>
              <div class="value">
                <dx-select-box
                  [items]="['inside', 'outside', 'none']"
                  [(value)]="titlePosition"
                ></dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Show Resources:</div>
              <div class="value">
                <dx-check-box [(value)]="showResources"></dx-check-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Show Dependencies:</div>
              <div class="value">
                <dx-check-box [(value)]="showDependencies"></dx-check-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Show Different Task Content:</div>
              <div class="value">
                <dx-check-box
                  [(value)]="showDifferentTaskContent"
                  (valueChange)="repaint()"
                ></dx-check-box>
              </div>
            </div>
          </div>
          <!-- <div class="column">
            <div class="option">
              <div class="label">Start Date Range:</div>
              <div class="value">
                <dx-date-box [(value)]="startDateRange"  >
                </dx-date-box>
              </div>
            </div>
            <div class="option">
              <div class="label">End Date Range:</div>
              <div class="value">
                <dx-date-box [(value)]="endDateRange" >
                </dx-date-box>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Gantt -->
    <div class="row">
      <div class="col-12" id="projectGantt">
        <!-- [rootValue]="0" -->
        <dx-gantt

          (onTaskUpdated)="onTaskUpdated($event)"
          (onScaleCellPrepared)="onScaleCellPrepared($event)"
          [firstDayOfWeek]="1"
          [taskListWidth]="1000"
          scaleType="weeks"
          height="700"
          [taskTitlePosition]="titlePosition"
          [scaleType]="scaleType"
          [showResources]="showResources"
          [showDependencies]="showDependencies"
          [taskContentTemplate]="
            showDifferentTaskContent ? 'myTaskContentTemplate' : undefined
          "

          (onTaskEditDialogShowing)="onTaskEditDialogShowing($event)"
        >
        <!-- [startDateRange]="startDateRange"
        [endDateRange]="endDateRange" -->
          <!-- DataSources -->
          <!-- <dxo-context-menu [items]="contextMenuItems"></dxo-context-menu> customize etmek için -->
          <dxo-tasks [dataSource]="tasks"></dxo-tasks>
          <dxo-dependencies [dataSource]="dependencies"></dxo-dependencies>
          <dxo-resources [dataSource]="resources"></dxo-resources>
          <dxo-resource-assignments
            [dataSource]="resourceAssignments"
          ></dxo-resource-assignments>
          <!-- Columns -->
          <dxi-column
            dataField="title"
            caption="Title"
            [width]="200"
          ></dxi-column>
          <dxi-column
            dataField="taskPlannedStartDate"
            caption="Planlanmış Başlangıç"
            format="shortDate"
            dataType="date"

          ></dxi-column>
          <dxi-column
            dataField="taskPlannedEndDate"
            caption="Planlanmış Bitiş"
            format="shortDate"
            dataType="date"

          ></dxi-column>
          <dxi-column
            dataField="start"
            caption="Güncel Başlangıç"
            format="shortDate"
            dataType="date"

          ></dxi-column>
          <dxi-column
            dataField="end"
            caption="Güncel Bitiş"
            format="shortDate"
            dataType="date"
          ></dxi-column>
          <dxi-column
            dataField="taskDuration"
            caption="Süre"
            dataType="number"
            [visible]="false"
          ></dxi-column>
          <dxi-column
            dataField="progress"
            caption="Tamamlanma %"
            dataType="number"
          ><dxo-format
          type="percent"
          [precision]="0">
      </dxo-format></dxi-column>
          <dxi-column
            dataField="taskCompany"
            caption="Firma"
            dataType="string"
          ></dxi-column>
          <dxi-column
            dataField="taskIsRevision"
            caption="Revizyon?"
            dataType="boolean"
          ></dxi-column>
          <dxi-column
            dataField="taskCustomer"
            caption="Müşteri"
            dataType="string"
          ></dxi-column>
          <dxi-column
            dataField="taskStatus"
            caption="Durum"
            dataType="string"
          ></dxi-column>
          <dxi-column
            dataField="taskNotes"
            caption="Notlar"
            dataType="string"
          ></dxi-column>
          <!-- Toolbar -->
          <dxo-toolbar>
            <dxi-item name="undo"></dxi-item>
            <dxi-item name="redo"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="collapseAll"></dxi-item>
            <dxi-item name="expandAll"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="addTask"></dxi-item>
            <dxi-item name="deleteTask"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="zoomIn"></dxi-item>
            <dxi-item name="zoomOut"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="showResources"></dxi-item>
            <dxi-item name="showDependencies"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item widget="dxButton" [options]="saveDataButtonOptions">
            </dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="taskDetails"></dxi-item>
            <dxi-item name="fullScreen"></dxi-item>
            <dxi-item name="resourceManager"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item widget="dxButton" [options]="exportButtonOptions">
            </dxi-item>
          </dxo-toolbar>

          <!-- Setting -->
          <dxo-validation
            [autoUpdateParentTasks]="true"
            [validateDependencies]="true"
            [enablePredecessorGap]="true"
          ></dxo-validation>
          <dxo-editing [enabled]="true"></dxo-editing>
          <dxo-sorting
            [mode]="sortingMode"
            [showSortIndexes]="showSortIndexes"
          ></dxo-sorting>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-filter-row [visible]="true"></dxo-filter-row>

          <!-- Custom TaskContentTemplate -->
          <div *dxTemplate="let item of 'myTaskContentTemplate'">
            <!-- Planned Task Status Bar -->
            <div
              class="planned-task"
              [ngStyle]="{ 'width.px': item.taskSize.width }"
            >
              <div class="planned-task-wrapper">
                <div class="planned-task-title">{{ item.taskData.title }}</div>
              </div>
              <div class="planned-task-resource">
                {{ item.taskResources[0] ? item.taskResources[0].text : "" }}
              </div>
              <div
                class="planned-task-progress"
                [ngStyle]="{ width: plannedTaskProgressWidthDefiner(item) }"
              ></div>
            </div>
            <!-- Actual Task Status Bar -->
            <div
              class="actual-task"
              [ngStyle]="actualTaskWidthDefiner(item)"
            ></div>
          </div>
        </dx-gantt>
      </div>
    </div>
    <!-- Export Options -->
    <!-- Popup yapılabilir -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="options">
          <div class="column">
            <div class="caption">Export Options</div>
            <div class="option">
              <div class="label">Document format:</div>
              <div class="value">
                <dx-select-box
                  id="formatBox"
                  [items]="formats"
                  [(value)]="formatBoxValue"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Landscape orientation:</div>
              <div class="value">
                <dx-check-box [(value)]="landscapeCheckBoxValue"></dx-check-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Export mode:</div>
              <div class="value">
                <dx-select-box
                  [items]="exportModes"
                  [(value)]="exportModeBoxValue"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Date range:</div>
              <div class="value">
                <dx-select-box
                  [items]="dateRanges"
                  [(value)]="dateRangeBoxValue"
                  (onValueChanged)="onDateRangeBoxSelectionChanged($event)"
                >
                </dx-select-box>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="caption">Task Filter Options</div>
            <div class="option">
              <div class="label">Start task (index):</div>
              <div class="value">
                <dx-number-box
                  [disabled]="customRangeDisabled"
                  [(value)]="startTaskIndex"
                  [min]="0"
                  [max]="endTaskIndex"
                  [showSpinButtons]="true"
                >
                </dx-number-box>
              </div>
            </div>
            <div class="option">
              <div class="label">End task (index):</div>
              <div class="value">
                <dx-number-box
                  [disabled]="customRangeDisabled"
                  [(value)]="endTaskIndex"
                  [min]="startTaskIndex"
                  [max]="tasks.length - 1"
                  [showSpinButtons]="true"
                >
                </dx-number-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Start date:</div>
              <div class="value">
                <dx-date-box
                  [disabled]="customRangeDisabled"
                  [(value)]="startDate"
                  [max]="endDate"
                  type="date"
                >
                </dx-date-box>
              </div>
            </div>
            <div class="option">
              <div class="label">End date:</div>
              <div class="value">
                <dx-date-box
                  [disabled]="customRangeDisabled"
                  [(value)]="endDate"
                  [min]="startDate"
                  type="date"
                >
                </dx-date-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Task Details Popup/Form -->
    <dx-popup
      id="popup"
      [(visible)]="isTaskDetailsFormPopupVisible"
      [hideOnOutsideClick]="false"
      (onHidden)="byHiddenPopup($event)"

    >
    <!-- 1. title hazır liste veya custom olacak parent id varsa diye 3. progress düzeltilecek 4.resimhaizrlayan boolean olarak ngif* olacak 5. -->
      <dx-scroll-view width="100%" height="100%">
        <div id="app-container">
          <form (submit)="onSaveForm($event)" *ngIf="customTaskDetailsForm">
            <dx-form
              (onFieldDataChanged)="onFieldDataChanged($event)"
              id="form"
              [formData]="customTaskDetailsForm"
              labelLocation="left"
              [showColonAfterLabel]="false"

            >
              <!-- Ana Grup-1 -->
              <dxi-item itemType="group" [colCount]="3">
                <!-- Sütun-1 -->
                <dxi-item itemType="group" caption="Görev Detayları-1">
                  <!-- id -->
                  <dxi-item dataField="id" [visible]="false"></dxi-item>
                  <!-- parentId -->
                  <dxi-item dataField="parentId" [visible]="false"></dxi-item>
                  <!-- Görev / İş -->
                  <dxi-item dataField="title" [isRequired]="true"
                    ><dxo-label [text]="'Görev / İş'"> </dxo-label
                  ></dxi-item>
                  <!-- Planlanan Başlangıç -->
                  <dxi-item
                    dataField="taskPlannedStartDate"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Planlanan Başlangıç'"> </dxo-label
                  ></dxi-item>
                  <!-- Planlanan Bitiş -->
                  <dxi-item
                    dataField="taskPlannedEndDate"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Planlanan Bitiş'"> </dxo-label
                  ></dxi-item>
                  <!-- Planlanan Süre -->
                  <dxi-item
                    dataField="plannedDuration"
                    editorType="dxNumberBox"
                    [editorOptions]="{
                      showSpinButtons: false,
                      readOnly: true
                    }"
                    [isRequired]="false"
                    ><dxo-label [text]="'Planlanan Süre'"> </dxo-label
                  ></dxi-item>
                  <!-- Gerçekleşen Başlangıç -->
                  <dxi-item
                    dataField="start"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Gerçekleşen Başlangıç'"> </dxo-label
                  ></dxi-item>
                  <!-- Gerçekleşen Bitiş -->
                  <dxi-item
                    dataField="end"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Gerçekleşen Bitiş'"> </dxo-label
                  ></dxi-item>
                  <!-- Gerçekleşen Süre -->
                  <dxi-item
                    dataField="actualDuration"
                    editorType="dxNumberBox"
                    [editorOptions]="{
                      showSpinButtons: false,
                      readOnly: true
                    }"
                    [isRequired]="false"
                    ><dxo-label [text]="'Gerçekleşen Süre'"> </dxo-label
                  ></dxi-item>
                </dxi-item>
                <!-- Sütun-2 -->
                <dxi-item itemType="group" caption="Görev Detayları-2">
                  <!-- Durum Bilgisi -->
                  <dxi-item
                    dataField="taskStatus"
                    editorType="dxSelectBox"
                    [editorOptions]="{
                      dataSource: tasks,
                      displayExpr: 'taskStatus',
                      valueExpr: 'taskStatus',
                      placeholder: 'Durum Belirtiniz',
                      searchEnabled: true,
                      searchTimeout: 200
                    }"
                    [isRequired]="true"
                    ><dxo-label [text]="'Durum Bilgisi'"> </dxo-label
                  ></dxi-item>
                  <!-- İlerleme Oranı -->
                  <!-- format: 'percent' -->
                  <dxi-item
                    dataField="progress"
                    editorType="dxNumberBox"
                    [editorOptions]="{
                      min: 0,
                      max: 1,
                      showSpinButtons: true,
                      format: customProgressFormat(customTaskDetailsForm.progress)
                    }"
                    [isRequired]="false"
                    ><dxo-label [text]="'Gerçekleşen İlerleme'"> </dxo-label
                  ></dxi-item>
                  <!-- Revizyon Mu? -->
                  <dxi-item
                    dataField="taskIsRevision"
                    editorType="dxSwitch"
                    [isRequired]="false"
                    [editorOptions]="{
                      switchedOnText: 'Evet',
                      switchedOffText: 'Hayır',
                      width: '30%'
                    }"
                    ><dxo-label [text]="'Revizyon Mu?'"> </dxo-label>
                  </dxi-item>
                  <!-- Kaynaklar -->
                  <dxi-item
                    dataField="resource"
                    editorType="dxSelectBox"
                    [editorOptions]="{
                      dataSource: resources,
                      displayExpr: 'text',
                      valueExpr: 'text',
                      placeholder: 'Seçiniz',
                      searchEnabled: true,
                      searchTimeout: 200
                    }"
                    ><dxo-label [text]="'Kaynaklar'"> </dxo-label>
                    <dxi-validation-rule
                      type="required"
                      message="Kaynak Belirtilmedi"
                    ></dxi-validation-rule>
                  </dxi-item>
                </dxi-item>
                <!-- Sütun-3 -->
                <dxi-item itemType="group" caption="Görev Detayları-3">
                  <!-- Tabs -->
                  <dxi-item itemType="tabbed">
                    <dxo-tab-panel-options> </dxo-tab-panel-options>
                    <!-- Tab-1 -->
                    <dxi-tab title="İlave Bilgiler-1">
                      <!-- Firma -->
                      <dxi-item
                        dataField="taskCompany"
                        editorType="dxSelectBox"
                        [editorOptions]="{
                          dataSource: tasks,
                          displayExpr: 'taskCompany',
                          valueExpr: 'taskCompany',
                          placeholder: 'Firma Seçiniz',
                          searchEnabled: true,
                          searchTimeout: 200
                        }"
                        [isRequired]="true"
                        ><dxo-label [text]="'Firma'"> </dxo-label
                      ></dxi-item>
                      <!-- Müşteri -->
                      <dxi-item
                        dataField="taskCustomer"
                        editorType="dxSelectBox"
                        [editorOptions]="{
                          dataSource: tasks,
                          displayExpr: 'taskCustomer',
                          valueExpr: 'taskCustomer',
                          placeholder: 'Müşteri Seçiniz',
                          searchEnabled: true,
                          searchTimeout: 200
                        }"
                        [isRequired]="true"
                        ><dxo-label [text]="'Müşteri'"> </dxo-label
                      ></dxi-item>
                      <!-- İmalat Resmi Hazırlayan -->
                      <dxi-item
                      *ngIf="this.customTaskDetailsForm.parentId"
                        dataField="imalatResmiHazirlayan"
                        editorType="dxSelectBox"
                        [editorOptions]="{
                          dataSource: resources,
                          displayExpr: 'text',
                          valueExpr: 'text',
                          placeholder: 'Seçiniz',
                          searchEnabled: true,
                          searchTimeout: 200
                        }"
                        [isRequired]="false"
                      >
                        <dxo-label [text]="'İmalat Resmi Hazırlayan'">
                        </dxo-label>
                      </dxi-item>
                    </dxi-tab>
                    <!-- Tab-2 -->
                    <!-- Notlar -->
                    <dxi-tab title="Notlar">
                      <!-- Notlar -->
                      <dxi-item dataField="taskNotes" editorType="dxTextArea">
                        <dxo-label [text]="'Notlar'"> </dxo-label>
                      </dxi-item>
                    </dxi-tab>
                  </dxi-item>
                </dxi-item>
              </dxi-item>
              <!-- Submit Buton -->
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitButtonOptions"
              >
              </dxi-item>
            </dx-form>
          </form>
        </div>
      </dx-scroll-view>
    </dx-popup>
  </div>
</ng-container>
