<ng-container *ngIf="(dataLoading$ | async) === false">
  <div class="container-fluid" #ganttElement>
    <!-- Gantt Options -->
    <div class="row mt-3 mb-3">
      <div class="col-12">
        <div class="options">
          <!-- Sütun-1 -->
          <div class="column">
            <div class="caption">Genel Ayarlar</div>
            <div class="option">
              <div class="label">Görünüm Tipi:</div>
              <div class="value">
                <dx-select-box
                  [items]="['Orijinal', 'Özelleştirilmiş-1']"
                  [(value)]="showDifferentTaskContent"
                  (valueChange)="repaint()"
                ></dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Zaman Dilimi Görünümü:</div>
              <div class="value">
                <dx-select-box
                  [items]="[
                    'auto',
                    'minutes',
                    'hours',
                    'sixHours',
                    'days',
                    'weeks',
                    'months',
                    'quarters',
                    'years'
                  ]"
                  [(value)]="scaleType"
                ></dx-select-box>
              </div>
            </div>
            <div *ngIf="showDifferentTaskContent === 'Orijinal'" class="option">
              <div class="label">İsimlendirme Pozisyonu</div>
              <div class="value">
                <dx-select-box
                  [items]="['inside', 'outside', 'none']"
                  [(value)]="titlePosition"
                ></dx-select-box>
              </div>
            </div>
            <div *ngIf="showDifferentTaskContent === 'Orijinal'" class="option">
              <div class="label">Kaynakları Göster</div>
              <div class="value">
                <dx-check-box [(value)]="showResources"></dx-check-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Bağımlılıkları Göster</div>
              <div class="value">
                <dx-check-box [(value)]="showDependencies"></dx-check-box>
              </div>
            </div>
          </div>
          <!-- Sütun-2 -->
          <div class="column">
            <div class="caption">Görünüme Bağlı Ayarlar</div>
            <!-- TreeView Sütun Seçme TagBox -->
            <div class="option">
              <div class="label">Gösterilecek Sütunlar</div>
              <div class="value">
                <dx-tag-box
                  [dataSource]="columnListDataSource"
                  valueExpr="id"
                  displayExpr="caption"
                  [(value)]="columnListTagBoxListValue"
                  [searchEnabled]="false"
                  (onContentReady)="onColumListTagBoxContentReady($event)"
                  (onValueChanged)="onColumnListTagboxValueChanged($event)"
                  (onMultiTagPreparing)="
                    onColumListTagBoxMultiTagPreparing($event)
                  "
                  [showSelectionControls]="true"
                  [applyValueMode]="'useButtons'"
                  [acceptCustomValue]="false"
                  [multiline]="true"
                  selectAllMode="allPages"
                  [maxDisplayedTags]="2"
                  [showMultiTagOnly]="false"
                ></dx-tag-box>
              </div>
            </div>
            <!-- Gantt Start Date Range -->
            <div class="option">
              <div class="label">Başlangıç Tarihi Aralığı:</div>
              <div class="value">
                <dx-date-box [(value)]="startDateRange"  >
                </dx-date-box>
              </div>
            </div>
            <!-- Gantt End Date Range -->
            <div class="option">
              <div class="label">Bitiş Tarihi Aralığı:</div>
              <div class="value">
                <dx-date-box [(value)]="endDateRange" >
                </dx-date-box>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Gantt -->
    <div class="row">
      <div class="col-12" id="projectGantt">
        <!-- [rootValue]="0" -->
        <dx-gantt
        (onTaskInserting)="onGanttTaskInserting($event)"
        (onTaskInserted)="onGanttTaskInserted($event)"
          (onContentReady)="onGanttContentReady($event)"
          (onTaskUpdated)="onTaskUpdated($event)"
          (onScaleCellPrepared)="onScaleCellPrepared($event)"
          [firstDayOfWeek]="1"
          [taskListWidth]="1000"
          scaleType="weeks"
          height="700"
          [taskTitlePosition]="titlePosition"
          [scaleType]="scaleType"
          [showResources]="showResources"
          [showDependencies]="showDependencies"
          [taskContentTemplate]="
            showDifferentTaskContent == 'Orijinal'
              ? undefined
              : showDifferentTaskContent
          "
          (onTaskEditDialogShowing)="onTaskEditDialogShowing($event)"
        >
          <!-- [startDateRange]="startDateRange"
        [endDateRange]="endDateRange" -->
          <!-- DataSources -->
          <dxo-tasks [dataSource]="tasks"></dxo-tasks>
          <dxo-dependencies [dataSource]="dependencies"></dxo-dependencies>
          <dxo-resources [dataSource]="resources"></dxo-resources>
          <dxo-resource-assignments
            [dataSource]="resourceAssignments"
          ></dxo-resource-assignments>
          <!-- Columns -->
          <!-- Burası for loop ile yapılabilir -->
          <dxi-column
            dataField="id"
            caption="ID"
            [width]="100"
            [(visible)]="columnList[0].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="parentId"
            caption="Üst ID"
            [(visible)]="columnList[1].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="title"
            caption="Proje/Görev/Operasyon"
            [width]="200"
            [(visible)]="columnList[2].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="taskPlannedStartDate"
            caption="Planlanmış Başlangıç"
            format="shortDate"
            [(visible)]="columnList[3].isVisible"
            dataType="date"
          ></dxi-column>
          <dxi-column
            dataField="taskPlannedEndDate"
            caption="Planlanmış Bitiş"
            format="shortDate"
            [(visible)]="columnList[4].isVisible"
            dataType="date"
          ></dxi-column>
          <dxi-column
            dataField="plannedDuration"
            caption="Planlanan Süre"
            dataType="number"
            [(visible)]="columnList[5].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="start"
            caption="Güncel Başlangıç"
            format="shortDate"
            [(visible)]="columnList[6].isVisible"
            dataType="date"
          ></dxi-column>
          <dxi-column
            dataField="end"
            caption="Güncel Bitiş"
            format="shortDate"
            [(visible)]="columnList[7].isVisible"
            dataType="date"
          ></dxi-column>
          <dxi-column
            dataField="actualDuration"
            caption="Güncel Süre"
            dataType="number"
            [(visible)]="columnList[8].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="progress"
            caption="Tamamlanma %"
            dataType="number"
            [(visible)]="columnList[9].isVisible"
            ><dxo-format type="percent" [precision]="0"> </dxo-format
          ></dxi-column>
          <dxi-column
            dataField="taskCompany"
            caption="Firma"
            dataType="string"
            [(visible)]="columnList[10].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="taskCustomer"
            caption="Müşteri"
            dataType="string"
            [(visible)]="columnList[11].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="taskStatus"
            caption="Durum"
            dataType="string"
            [(visible)]="columnList[12].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="taskNotes"
            caption="Notlar"
            dataType="string"
            [(visible)]="columnList[13].isVisible"
          ></dxi-column>
          <dxi-column
            dataField="taskIsRevision"
            caption="Revizyon?"
            dataType="boolean"
            [(visible)]="columnList[14].isVisible"
          ></dxi-column>
          <!-- Toolbar -->
          <dxo-toolbar>
            <dxi-item name="undo"></dxi-item>
            <dxi-item name="redo"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="collapseAll"></dxi-item>
            <dxi-item name="expandAll"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="addTask"></dxi-item>
            <dxi-item name="deleteTask"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="zoomIn"></dxi-item>
            <dxi-item name="zoomOut"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item
              *ngIf="showDifferentTaskContent === 'Orijinal'"
              name="showResources"
            ></dxi-item>
            <dxi-item name="showDependencies"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item widget="dxButton" [options]="saveDataButtonOptions">
            </dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item name="taskDetails"></dxi-item>
            <dxi-item name="fullScreen"></dxi-item>
            <dxi-item name="resourceManager"></dxi-item>
            <dxi-item name="separator"></dxi-item>
            <dxi-item widget="dxButton" [options]="exportButtonOptions">
            </dxi-item>
          </dxo-toolbar>

          <!-- Setting -->
          <dxo-validation
            [autoUpdateParentTasks]="true"
            [validateDependencies]="true"
            [enablePredecessorGap]="true"
          ></dxo-validation>
          <dxo-editing [enabled]="true"></dxo-editing>
          <dxo-sorting
            [mode]="sortingMode"
            [showSortIndexes]="showSortIndexes"
          ></dxo-sorting>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-filter-row [visible]="true"></dxo-filter-row>

          <!-- Custom TaskContentTemplate -->
          <div *dxTemplate="let item of 'Özelleştirilmiş-1'">
            <!-- Planned Task Status Bar -->
            <!-- 'width.px': item.taskSize.width, -->
            <div
              class="planned-task"
              [ngStyle]="
                item.taskData.routeLevelNumber == 1
                  ? {
                      'width.px': item.taskSize.width,
                      'background-color': '#5cb85c',
                      'border-top-color:': '#5cb85c',
                      'border-left-color:': '#5cb85c',
                      'border-right-color:': '#5cb85c'
                    }
                  : {
                      'width.px': item.taskSize.width
                    }
              "
            >
              <div class="planned-task-wrapper">
                <div class="planned-task-title">{{ item.taskData.title }}</div>
              </div>
              <div class="planned-task-resource">
                {{ item.taskResources[0] ? item.taskResources[0].text : "" }}
              </div>
              <div
                class="planned-task-progress"
                [ngStyle]="{ width: plannedTaskProgressWidthDefiner(item) }"
              ></div>
            </div>
            <!-- Actual Task Status Bar -->
            <div
              class="actual-task"
              [ngStyle]="actualTaskWidthDefiner(item)"
            ></div>
          </div>
        </dx-gantt>
      </div>
    </div>
    <!-- Export Options -->
    <!-- Popup yapılabilir -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="options">
          <div class="column">
            <div class="caption">Export Options</div>
            <div class="option">
              <div class="label">Document format:</div>
              <div class="value">
                <dx-select-box
                  id="formatBox"
                  [items]="formats"
                  [(value)]="formatBoxValue"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Landscape orientation:</div>
              <div class="value">
                <dx-check-box [(value)]="landscapeCheckBoxValue"></dx-check-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Export mode:</div>
              <div class="value">
                <dx-select-box
                  [items]="exportModes"
                  [(value)]="exportModeBoxValue"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Date range:</div>
              <div class="value">
                <dx-select-box
                  [items]="dateRanges"
                  [(value)]="dateRangeBoxValue"
                  (onValueChanged)="onDateRangeBoxSelectionChanged($event)"
                >
                </dx-select-box>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="caption">Task Filter Options</div>
            <div class="option">
              <div class="label">Start task (index):</div>
              <div class="value">
                <dx-number-box
                  [disabled]="customRangeDisabled"
                  [(value)]="startTaskIndex"
                  [min]="0"
                  [max]="endTaskIndex"
                  [showSpinButtons]="true"
                >
                </dx-number-box>
              </div>
            </div>
            <div class="option">
              <div class="label">End task (index):</div>
              <div class="value">
                <dx-number-box
                  [disabled]="customRangeDisabled"
                  [(value)]="endTaskIndex"
                  [min]="startTaskIndex"
                  [max]="tasks.length - 1"
                  [showSpinButtons]="true"
                >
                </dx-number-box>
              </div>
            </div>
            <div class="option">
              <div class="label">Start date:</div>
              <div class="value">
                <dx-date-box
                  [disabled]="customRangeDisabled"
                  [(value)]="startDate"
                  [max]="endDate"
                  type="date"
                >
                </dx-date-box>
              </div>
            </div>
            <div class="option">
              <div class="label">End date:</div>
              <div class="value">
                <dx-date-box
                  [disabled]="customRangeDisabled"
                  [(value)]="endDate"
                  [min]="startDate"
                  type="date"
                >
                </dx-date-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Task Details Popup/Form -->
    <dx-popup
      id="popup"
      [(visible)]="isTaskDetailsFormPopupVisible"
      [hideOnOutsideClick]="false"
      (onHidden)="byHiddenPopup($event)"
    >
      <!-- 1. title hazır liste veya custom olacak parent id varsa diye 4.resimhaizrlayan boolean olarak ngif* olacak 5. -->
      <dx-scroll-view width="100%" height="100%">
        <div id="app-container">
          <form (submit)="onSaveForm($event)" *ngIf="customTaskDetailsForm">
            <dx-form
              (onFieldDataChanged)="onFieldDataChanged($event)"
              id="form"
              [formData]="customTaskDetailsForm"
              labelLocation="left"
              [showColonAfterLabel]="false"
              [showValidationSummary]="true"
            >
              <!-- Ana Grup-1 -->
              <dxi-item itemType="group" [colCount]="3">
                <!-- Sütun-1 -->
                <dxi-item itemType="group" caption="Görev Detayları-1">
                  <!-- id -->
                  <dxi-item
                    dataField="id"
                    [visible]="false"
                    [editorOptions]="{ disabled: true }"
                  ></dxi-item>
                  <!-- parentId -->
                  <dxi-item dataField="parentId" [visible]="false"></dxi-item>
                  <!-- Proje/Görev/Operasyon -->
                  <!-- If Project Row, then show -->
                  <dxi-item
                    *ngIf="customTaskDetailsForm.parentId === 0 ||customTaskDetailsForm.parentId === null"
                    dataField="title"
                    [isRequired]="true"
                    ><dxo-label [text]="'Proje/Görev/Operasyon'"></dxo-label
                  ></dxi-item>
                  <!-- If Project Row, then show -->
                  <!-- Start: If Not Project Row, then show -->
                  <dxi-item
                    *ngIf="customTaskDetailsForm.parentId !== 0 && customTaskDetailsForm.parentId !== null"
                    [isRequired]="true"
                  >
                    <dxo-label [text]="'Proje/Görev/Operasyon'"></dxo-label>
                    <div *dxTemplate>
                      <dx-select-box
                        [(value)]="customTaskDetailsForm.title"
                        [dataSource]="dataSourceFromtaskOperationsList"
                        valueExpr="name"
                        [grouped]="true"
                        displayExpr="name"
                        [searchEnabled]="true"
                        groupTemplate="taskGroup"
                      >
                        <div *dxTemplate="let data of 'taskGroup'">
                          <!-- Proje Süreçleri / Seviye1 Rota -->
                          <div
                            *ngIf="'Proje Süreçleri' === data.key"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-menu icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Alt Süreçler / Seviye2 Rota -->
                          <div
                            *ngIf="'Proje Süreçleri' !== data.key"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-rowfield icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                        </div>
                      </dx-select-box>
                    </div>
                  </dxi-item>
                  <!-- End: If Not Project Row, then show -->
                  <!-- Planlanan Başlangıç -->
                  <dxi-item
                    dataField="taskPlannedStartDate"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Planlanan Başlangıç'"> </dxo-label
                  ></dxi-item>
                  <!-- Planlanan Bitiş -->
                  <dxi-item
                    dataField="taskPlannedEndDate"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Planlanan Bitiş'"> </dxo-label
                  ></dxi-item>
                  <!-- Planlanan Süre -->
                  <dxi-item
                    dataField="plannedDuration"
                    editorType="dxNumberBox"
                    [editorOptions]="{
                      showSpinButtons: false,
                      readOnly: true
                    }"
                    [isRequired]="false"
                    ><dxo-label [text]="'Planlanan Süre'"> </dxo-label
                  ></dxi-item>
                  <!-- Gerçekleşen Başlangıç -->
                  <dxi-item
                    dataField="start"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Gerçekleşen Başlangıç'"> </dxo-label
                  ></dxi-item>
                  <!-- Gerçekleşen Bitiş -->
                  <dxi-item
                    dataField="end"
                    editorType="dxDateBox"
                    [isRequired]="true"
                    ><dxo-label [text]="'Gerçekleşen Bitiş'"> </dxo-label
                  ></dxi-item>
                  <!-- Gerçekleşen Süre -->
                  <dxi-item
                    dataField="actualDuration"
                    editorType="dxNumberBox"
                    [editorOptions]="{
                      showSpinButtons: false,
                      readOnly: true
                    }"
                    [isRequired]="false"
                    ><dxo-label [text]="'Gerçekleşen Süre'"> </dxo-label
                  ></dxi-item>
                </dxi-item>
                <!-- Sütun-2 -->
                <dxi-item itemType="group" caption="Görev Detayları-2">
                  <!-- Durum Bilgisi -->
                  <dxi-item [isRequired]="true">
                    <dxo-label [text]="'Durum Bilgisi'"></dxo-label>
                    <div *dxTemplate>
                      <dx-select-box
                        [(value)]="customTaskDetailsForm.taskStatus"
                        [dataSource]="dataSourceFromtaskStatusListOrder"
                        valueExpr="statusName"
                        [grouped]="true"
                        displayExpr="statusName"
                        [searchEnabled]="true"
                        groupTemplate="statusGroup"
                      >
                        <div
                          [ngSwitch]="data.key"
                          *dxTemplate="let data of 'statusGroup'"
                        >
                          <!-- Tasarım Iş Listesi -->
                          <div
                            *ngSwitchCase="'Tasarım Iş Listesi'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-background icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Robot Süreçleri -->
                          <div
                            *ngSwitchCase="'Robot Süreçleri'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-share icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Operasyon Süreçleri -->
                          <div
                            *ngSwitchCase="'Operasyon Süreçleri'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-clock icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- ERP -->
                          <div
                            *ngSwitchCase="'ERP'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-box icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                        </div>
                      </dx-select-box>
                    </div>
                  </dxi-item>
                  <!-- İlerleme Oranı -->
                  <dxi-item
                    dataField="progress"
                    editorType="dxNumberBox"
                    [editorOptions]="{
                      min: 0,
                      max: 1,
                      showSpinButtons: true,
                      format: customProgressFormat(
                        customTaskDetailsForm.progress
                      )
                    }"
                    [isRequired]="false"
                    ><dxo-label [text]="'Gerçekleşen İlerleme'"> </dxo-label
                  ></dxi-item>
                  <!-- Revizyon Mu? -->
                  <dxi-item
                    dataField="taskIsRevision"
                    editorType="dxSwitch"
                    [isRequired]="false"
                    [editorOptions]="{
                      switchedOnText: 'Evet',
                      switchedOffText: 'Hayır',
                      width: '30%'
                    }"
                    ><dxo-label [text]="'Revizyon Mu?'"> </dxo-label>
                  </dxi-item>
                  <!-- Kaynaklar -->
                  <dxi-item [isRequired]="true">
                    <dxo-label [text]="'Kaynak'"></dxo-label>
                    <div *dxTemplate>
                      <dx-select-box
                        [(value)]="customTaskDetailsForm.resourceId"
                        [dataSource]="dataSourceFromresources"
                        valueExpr="id"
                        [grouped]="true"
                        displayExpr="text"
                        [searchEnabled]="true"
                        groupTemplate="resourceGroup"
                      >
                        <div
                          [ngSwitch]="data.key"
                          *dxTemplate="let data of 'resourceGroup'"
                        >
                          <!-- Tasarım Ekibi -->
                          <div
                            *ngSwitchCase="'Tasarım Ekibi'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-background icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Proje Yöneticileri -->
                          <div
                            *ngSwitchCase="'Proje Yöneticileri'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-hierarchy icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Teknik Servis Ekibi -->
                          <div
                            *ngSwitchCase="'Teknik Servis Ekibi'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-tel icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Daha Sonra Güncellenecek -->
                          <div
                            *ngSwitchCase="'Daha Sonra Güncellenecek'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-warning icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Üretım Kaynakları -->
                          <div
                            *ngSwitchCase="'Üretım Kaynakları'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-preferences icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Dış Kaynaklar -->
                          <div
                            *ngSwitchCase="'Dış Kaynaklar'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-cart icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Satış Pazarlama Ekibi -->
                          <div
                            *ngSwitchCase="'Satış Pazarlama Ekibi'"
                            class="custom-icon"
                          >
                            <span
                              class="dx-icon-globe icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                          <!-- Test Ekibi -->
                          <div *ngSwitchCase="'Test Ekibi'" class="custom-icon">
                            <span
                              class="dx-icon-checklist icon ganttSelectBoxIcons"
                            ></span>
                            {{ data.key }}
                          </div>
                        </div>
                      </dx-select-box>
                    </div>
                  </dxi-item>
                </dxi-item>
                <!-- Sütun-3 -->
                <dxi-item itemType="group" caption="Görev Detayları-3">
                  <!-- Tabs -->
                  <dxi-item itemType="tabbed">
                    <dxo-tab-panel-options> </dxo-tab-panel-options>
                    <!-- Tab-1 -->
                    <dxi-tab title="İlave Bilgiler-1">
                      <!-- Firma -->
                      <dxi-item
                        dataField="taskCompany"
                        editorType="dxSelectBox"
                        [editorOptions]="{
                          items: companies,
                          placeholder: 'Firma Seçiniz',
                          searchEnabled: true,
                          searchTimeout: 200
                        }"
                        [isRequired]="true"
                        ><dxo-label [text]="'Firma'"> </dxo-label
                      ></dxi-item>
                      <!-- Müşteri -->
                      <dxi-item
                        dataField="taskCustomer"
                        editorType="dxSelectBox"
                        [editorOptions]="{
                          items: customers,
                          placeholder: 'Müşteri Seçiniz',
                          searchEnabled: true,
                          searchTimeout: 200
                        }"
                        [isRequired]="true"
                        ><dxo-label [text]="'Müşteri'"> </dxo-label
                      ></dxi-item>
                    </dxi-tab>
                    <!-- Tab-2 -->
                    <!-- Notlar -->
                    <dxi-tab title="Notlar">
                      <!-- Notlar -->
                      <dxi-item dataField="taskNotes" editorType="dxTextArea">
                        <dxo-label [text]="'Notlar'"> </dxo-label>
                      </dxi-item>
                    </dxi-tab>
                  </dxi-item>
                </dxi-item>
              </dxi-item>
              <!-- Submit Buton -->
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitButtonOptions"
              >
              </dxi-item>
            </dx-form>
          </form>
        </div>
      </dx-scroll-view>
    </dx-popup>
  </div>
</ng-container>
